extends ../layouts/default
include ../mixins/minitile

block content
	.container: .jumbotron
		// img(src='/images/logo.svg', width='160')
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		// hr
			
		.row.margin-top
			.col.s12.m6
				.card.hoverable
					.card-content
						h3.card-title Find By Job Number
						.row
							.input-field.col.s8
								input#lookup-jn(type='text')
							.valign-wrapper.col.s4
								.margin-top 
									a.valign.btn.waves-effect.margin-top.green#gotojn Go
					.card-action
						a.btn-floating.btn-large.waves-effect.waves-light.green.margin-right(href='/wo/jn') 
							i.material-icons add
						a.btn-floating.btn-large.waves-effect.waves-light.blue(href='/wolist') 
							i.material-icons search
		.row.margin-top
			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title Unassigned Jobs
						h3.row
							.col.s4
								i.orange-text.medium.material-icons warning
							.col.s4.offset-s4
								a(href='/wolist/category/unassigned')= data.unassigned 
						
			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title Quote
						h3.row
							.col.s4
								i.red-text.medium.material-icons visibility
							.col.s4.offset-s4
								a(href='/wolist/category/quote')= data.quote

			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title In Progress
						h3.row
							.col.s4
								i.green-text.medium.material-icons thumb_up
							.col.s4.offset-s4
								a(href='/wolist/category/in_progress')= data.in_progress

			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title Waiting For Part
						h3.row
							.col.s4
								i.grey-text.medium.material-icons hourglass_empty
							.col.s4.offset-s4
								a(href='/wolist/category/wait_for_part')= data.wait_for_part			
			.col.s12.m4
				.card.hoverable
					.card-content
						span.card-title Waiting For Customer
						h3.row
							.col.s4
								i.grey-text.medium.material-icons hourglass_empty
							.col.s4.offset-s4
								a(href='/wolist/category/wait_for_customer')= data.wait_for_customer		

				
			.col.s12.m12
				.card-panel
					a.btn.warm-blue.margin.waves-effect(href='operators') Manage Operators		
block js
	script.
		$(document).ready(function(){
			$("#gotojn").on("click", function(){
				window.location.href = '/wo/jn/' + $("#lookup-jn").val();
			});
		});